<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honzooban.questionnairesystem.dao.UserDao">
    <resultMap id="UserMap" type="com.honzooban.questionnairesystem.dao.model.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <resultMap id="QuestionMap" type="com.honzooban.questionnairesystem.dao.model.Question">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="question" jdbcType="VARCHAR" property="question"/>
    </resultMap>


    <insert id="insertUser" keyProperty="id" useGeneratedKeys="true">
        insert into user(open_id, status) values(#{openId}, #{status});
    </insert>

    <select id="listQuestion" resultMap="QuestionMap">
        select * from question;
    </select>

    <insert id="insertTestInput">
        insert into test_input(uid, grade, college, is_like, question_1, question_2, question_3, question_4, question_5,
        question_6, question_7, question_8, question_9, question_10, question_11, question_12, question_13, question_14,
        question_15, question_16, question_17, question_18, question_19, question_20, question_21, question_22,
        question_23, question_24, question_25, question_26, question_27, question_28, question_29, question_30,
        question_31, question_32, question_33, question_34, question_35, question_36, question_37, question_38,
        question_39, question_40, question_41, question_42, question_43, question_44, question_45, question_46,
        question_47, question_48, question_49, question_50, question_51, question_52, question_53, question_54,
        question_55, question_56, question_57, question_58, question_59, question_60, question_61, question_62,
        question_63, question_64, question_65, question_66, question_67, question_68, question_69, question_70,
        question_71, question_72, question_73, question_74, question_75, question_76, question_77, question_78,
        question_79, question_80) values (#{uid}, #{grade}, #{college}, #{isLike}, #{question1}, #{question2}, #{question3},
        #{question4}, #{question5}, #{question6}, #{question7}, #{question8}, #{question9}, #{question10},
        #{question11}, #{question12}, #{question13}, #{question14}, #{question15}, #{question16}, #{question17},
        #{question18}, #{question19}, #{question20}, #{question21}, #{question22}, #{question23}, #{question24},
        #{question25}, #{question26}, #{question27}, #{question28}, #{question29}, #{question30}, #{question31},
        #{question32}, #{question33}, #{question34}, #{question35}, #{question36}, #{question37}, #{question38},
        #{question39}, #{question40}, #{question41}, #{question42}, #{question43}, #{question44}, #{question45},
        #{question46}, #{question47}, #{question48}, #{question49}, #{question50}, #{question51}, #{question52},
        #{question53}, #{question54}, #{question55}, #{question56}, #{question57}, #{question58}, #{question59},
        #{question60}, #{question61}, #{question62}, #{question63}, #{question64}, #{question65}, #{question66},
        #{question67}, #{question68}, #{question69}, #{question70}, #{question71}, #{question72}, #{question73},
        #{question74}, #{question75}, #{question76}, #{question77}, #{question78}, #{question79}, #{question80})
    </insert>

    <insert id="insertTestForecast">
        insert into test_forecast(uid, grade, college, question_1, question_2, question_3, question_4, question_5,
        question_6, question_7, question_8, question_9, question_10, question_11, question_12, question_13, question_14,
        question_15, question_16, question_17, question_18, question_19, question_20, question_21, question_22,
        question_23, question_24, question_25, question_26, question_27, question_28, question_29, question_30,
        question_31, question_32, question_33, question_34, question_35, question_36, question_37, question_38,
        question_39, question_40, question_41, question_42, question_43, question_44, question_45, question_46,
        question_47, question_48, question_49, question_50, question_51, question_52, question_53, question_54,
        question_55, question_56, question_57, question_58, question_59, question_60, question_61, question_62,
        question_63, question_64, question_65, question_66, question_67, question_68, question_69, question_70,
        question_71, question_72, question_73, question_74, question_75, question_76, question_77, question_78,
        question_79, question_80) values (#{uid}, #{grade}, #{college}, #{question1}, #{question2}, #{question3},
        #{question4}, #{question5}, #{question6}, #{question7}, #{question8}, #{question9}, #{question10},
        #{question11}, #{question12}, #{question13}, #{question14}, #{question15}, #{question16}, #{question17},
        #{question18}, #{question19}, #{question20}, #{question21}, #{question22}, #{question23}, #{question24},
        #{question25}, #{question26}, #{question27}, #{question28}, #{question29}, #{question30}, #{question31},
        #{question32}, #{question33}, #{question34}, #{question35}, #{question36}, #{question37}, #{question38},
        #{question39}, #{question40}, #{question41}, #{question42}, #{question43}, #{question44}, #{question45},
        #{question46}, #{question47}, #{question48}, #{question49}, #{question50}, #{question51}, #{question52},
        #{question53}, #{question54}, #{question55}, #{question56}, #{question57}, #{question58}, #{question59},
        #{question60}, #{question61}, #{question62}, #{question63}, #{question64}, #{question65}, #{question66},
        #{question67}, #{question68}, #{question69}, #{question70}, #{question71}, #{question72}, #{question73},
        #{question74}, #{question75}, #{question76}, #{question77}, #{question78}, #{question79}, #{question80})
    </insert>

    <update id="updateUserStatus">
        update user set status = 1 where id = #{id};
    </update>
    
    <select id="selectOpenIdById" resultType="java.lang.String">
        select open_id from user where id = #{id}
    </select>
</mapper>